html {
  height: 100%;
}

body {
  line-height: 1.5;
}

body * {
  box-sizing: border-box;
}

.font-light {
  opacity: 0.75;
}

.vscode-light {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0;
}

.suggestion--header {
  background-image: linear-gradient(0, transparent, var(--vscode-tab-activeBackground));
}

.vscode-dark {
  background-color: rgba(255, 255, 255, 0.075);
}

.vscode-light {
  background-color: rgba(0, 0, 0, 0.05);
}

.vscode-light .delimiter-top {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.vscode-dark .delimiter-top {
  border-top: 1px solid rgba(255, 255, 255, 0.075);
}

.hidden {
  display: none !important;
}

.vscode-dark .data-flow-number {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0.075));
}

.vscode-light .data-flow-number {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
}

.data-flow-text {
  font-family: "Courier New", Courier, monospace;
}

.example-line > code {
  font-family: "Courier New", Courier, monospace;
}

.example-line.added {
  background-color: #ccffd8;
}

.example-line.removed {
  background-color: #ffd7d5;
}

.vscode-dark .example-line.removed {
  background-color: #542426;
  color: #fff;
}

.vscode-dark .example-line.added {
  background-color: #1c4428;
  color: #fff;
}

.vscode-dark .example-line.added > code {
  color: #fff;
  background-color: transparent;
}

.vscode-dark .example-line.removed > code {
  color: #fff;
  background-color: transparent;
}

.vscode-high-contrast:not(.vscode-high-contrast-light) .example-line.removed {
  background-color: #542426;
  color: #fff;
}

.vscode-dark .added,
.vscode-high-contrast:not(.vscode-high-contrast-light) .example-line.added {
  background-color: #1C4428;
  color: #fff;
}

.vscode-dark .light-only,
.vscode-high-contrast:not(.vscode-high-contrast-light) .light-only {
  display: none;
}

.vscode-light .dark-only,
.vscode-high-contrast.vscode-high-contrast-light .dark-only {
  display: none;
}
