html {
  height: 100%;
}

body {
  line-height: 1.5;
}

body * {
  box-sizing: border-box;
}

.font-light {
  opacity: 0.75;
}

.vscode-light {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0;
}

.suggestion--header {
  background-image: linear-gradient(0, transparent, var(--vscode-tab-activeBackground));
}

.vscode-dark {
  background-color: rgba(255, 255, 255, 0.075);
}

.vscode-light {
  background-color: rgba(0, 0, 0, 0.05);
}

.vscode-light .delimiter-top {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.vscode-dark .delimiter-top {
  border-top: 1px solid rgba(255, 255, 255, 0.075);
}

.hidden {
  display: none !important;
}

:root {
  font-size: var(--vscode-editor-font-size);
}

.vscode-dark .light-only {
  display: none;
}

.vscode-light .dark-only {
  display: none;
}

body {
  font-size: var(--vscode-editor-font-size);
}

h2 {
  font-size: 1.2rem;
}

/* High-contrast dark mode */
.vscode-high-contrast:not(.vscode-high-contrast-light) .vulnerability-overview code {
  color: var(--vscode-editor-background);
}

/* High-contrast light mode */
.vscode-high-contrast.vscode-high-contrast-light .vulnerability-overview code {
  color: var(--vscode-editor-background);
}
